@model Northwind.Contracts.Dto.Product.ProductDto
<h4>Details</h4>

<div class="col-md-6 col-lg-4">
    <div class="card mb-4">
        <img class="card-img-top" src="@Url.Content("~/Resources/images/" + Model.ProductPhotos.FirstOrDefault().PhotoFilename)" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                <center><b>@Html.DisplayFor(model=>model.ProductName)</b></center>
            </p>
            <p class="card-text">
                @Html.LabelFor(model=>model.UnitPrice) :
                @Html.DisplayFor(model=>model.UnitPrice)
                <br>
                @Html.LabelFor(model => model.UnitsInStock, htmlAttributes : new{@class="form-label"}) :
                @Html.DisplayFor(model => model.UnitsInStock)
            </p>
        </div>
    </div>
</div>
<a asp-action="Index">Back to List</a>
